html{
    box-sizing: border-box;
    height: 100%
}

*,
*::before,
&::after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
     display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;

}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: linear-gradient(320deg, #7f143d, #3d0d59, #bde0fe, #7f253b);
    flex-basis: 400px;
    height: 540px;
    padding: 25px 35px;

}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color: black;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 320px;
    
}

.calc-button-row{

    display: flex;
    justify-content: space-between;
    margin: 5% 0;

}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color: black;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;

}

.calc-button:last-child
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(189, 244, 254);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color: black;

}


.calc-button:last-child:hover
{

    background: rgba(189, 244, 254, 0.75);

}

.calc-button:hover
{

    background: rgba(255, 255, 255, 0.50);

}

.double{
    flex-basis: 47%;

}

.triple{
    flex-basis: 74%;
    
}

